/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* 
.searchContainer select.list-group-item {
margin-top: 3px;
margin-bottom: 3px;
}
 */

.custom-navbar-toggle {
	float: left;
}

#loadingSpin {
	height: 100%;
	width: 100%;
	background: #eee;
	background: #ccc;
	background: rgba(255,255,255,.5);
	z-index: 3!important;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.list-group-item select {
	width: 90%;
}
.searchbanner {
	max-width: 100%;
	margin: 0 auto;
	height: 100px;
	width: 100%;
	margin-bottom: 15px;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30% !important; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Sr. No."; }
	td:nth-of-type(2):before { content: "Institute"; }
	td:nth-of-type(3):before { content: "Course"; }
	td:nth-of-type(4):before { content: "Category"; }
	td:nth-of-type(5):before { content: "Cutoff %"; }
	td:nth-of-type(6):before { content: "Merit No."; }
}

.printButton {
	padding: 3px;
}

.error {
	color:red;
}