<div class="jumbotron container">
<p><b>Gestalt</b> is a IT Service provider Company based in Pune, India. We are specialized in Digital Business and Technology.</p>

<p>We are professional IT services provider in areas like  </p>
<ul>
<li>Web development </li>
<li>E-commerce solution </li>
<li>Application development </li>
<li>Internet marketing services </li>
<li>Social media optimization / branding </li>
<li>Corporate Training </li>
<li>SMAC etc.</li>
</ul>
<p>
We does not provide only the product to one’s need but also provide full support even 

after completing the project and help clients to show their online presence using 

creative design, use of latest technologies, innovative ideas during the project. 
</p>
<p><b>Contact Us :</b></p>
<p>
Get in touch with us to find out how Gestalt can help you with the existing services for 

IT business.</p>

<p>
Mr.Ajit Sabnis.| Director.<br>

A-503/504 ,<br>Mega Centre, Hadapsar ,<br>Pune.<br>
Tel.No. 91-20-66200720.<br>
Email - <a mailto="info@gitcpl.com">info@gitcpl.com</a>
</p>
</div>